@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Pentru intrebari legate de productie / datele introduse: <br />
    <a href="mailto:i.sutu@beltrame-group.com">Ilie Sutu</a>,
    <a href="mailto:i.micu@beltrame-group.com">Ionut Micu</a>,
    <a href="mailto:b.mitran@beltrame-group.com">Bogdan Mitran</a> <br />
</p>
<p>
    Pentru suport tehnic, legat de functionarea site-ului: <br />
    <a href="mailto:v.moisei@beltrame-group.com">Vlad Moisei</a><br />
</p>
@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@
