@model RaportareAjustajV2.ViewUserModel
@{
    ViewData["Title"] = "Cuprins";
}

<h2>Cuprins</h2>
<h1>Nume Utilizator: @Model.UserName</h1>
<h1>Id Utilizator: @Model.UserId</h1>

<a>Elti</a>
<a>Elind</a>
<a>Fierastraie</a>
<a>Presa Valdora</a>
<a>Rullatrice Veche</a>
<a>Rullatrice Landgraf</a>
<a>Masina de decojit</a>
<a>Novaflux</a>

