@model string
@{
    ViewData["Title"] = "Cuprins";
}

<h2>Cuprins</h2>

<h1>@Model</h1>
<a>Elti</a>
<a>Elind</a>
<a>Fierastraie</a>
<a>Presa Valdora</a>
<a>Rullatrice Veche</a>
<a>Rullatrice Landgraf</a>
<a>Masina de decojit</a>
<a>Novaflux</a>