@model RaportareAjustajV2.PresaValdoraModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>PresaValdoraModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PresaValdoraModelId" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataIntroducere" class="control-label"></label>
                <input asp-for="DataIntroducere" class="form-control" />
                <span asp-validation-for="DataIntroducere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataIndreptareMaterial" class="control-label"></label>
                <input asp-for="DataIndreptareMaterial" class="form-control" />
                <span asp-validation-for="DataIndreptareMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diametru" class="control-label"></label>
                <input asp-for="Diametru" class="form-control" />
                <span asp-validation-for="Diametru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calitate" class="control-label"></label>
                <input asp-for="Calitate" class="form-control" />
                <span asp-validation-for="Calitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sarja" class="control-label"></label>
                <input asp-for="Sarja" class="form-control" />
                <span asp-validation-for="Sarja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eticheta" class="control-label"></label>
                <input asp-for="Eticheta" class="form-control" />
                <span asp-validation-for="Eticheta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrBare" class="control-label"></label>
                <input asp-for="NrBare" class="form-control" />
                <span asp-validation-for="NrBare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lungime" class="control-label"></label>
                <input asp-for="Lungime" class="form-control" />
                <span asp-validation-for="Lungime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masa" class="control-label"></label>
                <input asp-for="Masa" class="form-control" />
                <span asp-validation-for="Masa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

